@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --azul: #3b82f6;
  --blanco: #ffffff;
  --gris-claro: #f5f5f5;
  --gris: #94a3b8;
  --gris-oscuro: #64748b;
  --negro: #000;
}
::-webkit-scrollbar {
  display: none;
}
body{
  background-color: #000000;
  

}
.logo-coca-header{
  width: auto;
  height: 70px;
  object-fit: contain;
  object-position: center;
  align-self: center;
}
.logo-coca-footer{
  width: auto;
  height: 50px;
  object-fit: contain;
  object-position: center;
  align-self: center;
}
.logo-header{
  width: auto;
  height: 100px;
  object-fit: contain;
  object-position: center;
  align-self: center;
}
.logo-footer{
  width: auto;
  height: 100px;
  object-fit: contain;
  object-position: center;
  align-self: center;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.spin-white{
  color: white;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.position-relative-bottom{
  position:relative;
  bottom: -8px;
}
.slow-moves {
  transition: 0.3s;
}

.sidebar-inactive {
  transform: translateX(-100%);
}
.contenido-principal{
  height: calc(100vh - 280px);
  
}
.divisor-header{
  width: 100%;
height: 6px;
margin-top: 10px;


/* Can Shimmer */

background: linear-gradient(90deg, rgba(96, 96, 96, 0.3) 0%, rgba(255, 255, 255, 0) 15.2%, rgba(138, 138, 138, 0.220973) 35.35%, rgba(143, 143, 143, 0.210441) 64.84%, rgba(231, 231, 231, 0.0447318) 84.83%, rgba(106, 106, 106, 0.280227) 100%), #E0E0E0;
/* 01 dp */

box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.logo{
  background-image: url('./assets/img/logo-coca.png');
  height: 53px;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
}
.logo-redragon{
  background-image: url('./assets/img/redragon-logo.png');
  height: 53px;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
  margin-left: auto;
}

.react-lottery-apple-item p {
      width:100%  !important;
      margin:0 auto !important;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center !important;
      padding: 0 10px !important;
}
.react-lottery-apple-item-image{
  height: 75px !important;
  width: auto !important;
  
}

.contenido-minimo {
  min-height: calc(100vh - 232px) ;
  background-color: #E51B29;
  
  }
@media (max-width: 768px) {
  .contenido-minimo {
  min-height: 592px ;
  }
}

.image-botella-left{
  position: absolute;
  bottom:104px;
  left:0;
  height: 71%;
  
}
.image-botella-right{
  position: absolute;
  bottom:104px;
  right:0;
  height: 71%;
  
}


.contenido-jugadores{
  margin: 0 0 0 auto; 
  padding: 56px 0 ;
  display: flex;
  
  width: calc(100% - 220px);
  justify-content: space-between;
  height: max-content;

}
.jugadores-left{
  border-right: 12px solid  #FFFFFF;
  width: 50%;
  min-height: 70vh;
}
.jugadores-right{
  
  width: 50%;
  min-height: 70vh;
}
.img-vs{
  width: auto;
  height: 150px;
  margin: 0 auto;
  object-fit: contain;
  object-position: center;
  margin:0px;
}
.img-gamer-zone{
  width: auto;
  height: 224px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
.jugador-vs-title{
  height: 213px;
  
  width: auto;
  margin: 0 10px;
 
  
  background-image: url('./assets/img/vs-name.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 50%;
 
}


.jugador-vs-title h2{
  font-size: x-large;
  color:white;
  text-align: center;  
  height: 200px;
  width: 17vw;
  position: relative;
  top:90px;
  left:0;
}

.gamer-zone-rd{
  width: auto;
  height: 335px;
  object-fit: contain;
  object-position: center;
}
@media (max-width: 1440px) {
  .image-botella-left{
    display: none;
    }
    .contenido-jugadores{
      width: 100%;
    }
    .jugador-vs-title h2{
      text-align: center;
      width: 25vw;
      max-height: 45px;
      
      
    }
    
}
@media (max-width: 768px) {
  
  .contenido-jugadores{
    padding: 56px 0;
    margin: 0 auto; 
    width: 100%;
    flex-direction: column;
  }
  .jugadores-left{
    width: 100%;
    border: none;
    padding: 20px;
  }
  .img-gamer-zone{
    width: auto;
    height: 150px;
    object-fit:scale-down;
    margin: 0 auto;
  }
  .jugadores-right{
    width: 100%;
    border: none;
    padding: 20px;
      }
    
    .jugador-vs-title h2{
      text-align: left;
      width: 100%;
      max-height: 45px;
      margin: 0 0 0 20px;
      
    }
    
.webcam{
  display: none;
}
}

.react-lottery-apple-slotbtn{
  width: 100% !important;
  height: 100% !important;
}

/*** SWIPE LIST OVERRIDES **/

.swipe-action__leading {
  background-color: #0000ff;
  color: var(--blanco);
  border-radius: 10px 0 0 10px;
  
  
  
  
}

.swipe-action__trailing {
  background-color: #db2777;
  border-radius: 0 10px  10px 0;
  color: var(--blanco);
}

.swipeable-list .swipe-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  text-align: right;
}
.swipeable-list {
   margin: 2rem 0;
}